<a href="https://colab.research.google.com/github/Christian-Divinefavour/Titanic---Machine-Learning-from-Disaster/blob/main/TITANIC_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
from keras.models import Sequential
from tensorflow.keras import layers
from keras.layers import Dense, Activation, Flatten
from sklearn.metrics import mean_absolute_error
import tensorflow as tf

In [3]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [4]:
test_df.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [5]:
train_df.set_index(['PassengerId'], inplace = True)
test_df.set_index(['PassengerId'], inplace = True)

In [6]:
#Let's generate random numbers between mean and std of Age to replace null values
train_mn = train_df['Age'].mean()
train_sd = train_df['Age'].std()
import random
from random import randrange
for i in range(177):
    val = random.uniform(train_sd, train_mn)
train_df['Age'].replace(np.nan, val, inplace = True)
train_df['Age']

PassengerId
1      22.000000
2      38.000000
3      26.000000
4      35.000000
5      35.000000
         ...
887    27.000000
888    19.000000
889    19.201714
890    26.000000
891    32.000000
Name: Age, Length: 891, dtype: float64

In [7]:
test_mn = test_df['Age'].mean()
test_sd = test_df['Age'].std()
import random
from random import randrange
for i in range(test_df['Age'].isnull().sum()):
    tval = random.uniform(test_sd, test_mn)
test_df['Age'].replace(np.nan, tval, inplace = True)
test_df['Age']

PassengerId
892     34.500000
893     47.000000
894     62.000000
895     27.000000
896     22.000000
          ...
1305    20.199917
1306    39.000000
1307    38.500000
1308    20.199917
1309    20.199917
Name: Age, Length: 418, dtype: float64

In [8]:
#Drop cabin column in both test and train cos of excess null values
train_df = train_df.drop(['Cabin'], axis=1)
test_df = test_df.drop(['Cabin'], axis =1)
train_df.head()

             Survived  Pclass  ...     Fare Embarked
PassengerId                    ...
1                   0       3  ...   7.2500        S
2                   1       1  ...  71.2833        C
3                   1       3  ...   7.9250        S
4                   1       1  ...  53.1000        S
5                   0       3  ...   8.0500        S

[5 rows x 10 columns]

In [9]:
#Not much correlation. Drop fare column
train_df = train_df.drop(['Fare'], axis = 1)
test_df = test_df.drop(['Fare'], axis = 1)

In [10]:
#Convert cateorical to numerical in Sex
train_df['Sex']=train_df['Sex'].map({'female' : 1,'male' : 0}).astype(int)
test_df['Sex']=test_df['Sex'].map({'female' : 1,'male' : 0}).astype(int)

In [11]:
train_df['Embarked'].value_counts()
train_df.Embarked.replace(np.nan, 'S', inplace = True)
dummy1 = pd.get_dummies(train_df['Embarked'])
train_df = pd.concat([train_df, dummy1], axis = 1)
dummy2 = pd.get_dummies(test_df['Embarked'])
test_df = pd.concat([test_df, dummy2], axis = 1)

In [12]:
train_df = train_df.drop('Embarked', axis = 1)
test_df = test_df.drop('Embarked', axis =1)

In [13]:
train_df = train_df.drop('Ticket', axis = 1)
test_df = test_df.drop('Ticket', axis =1)

In [14]:
train_df['Age'] = train_df['Age'].astype(int)
test_df['Age'] = test_df['Age'].astype(int)

In [15]:
train_df.loc[ train_df['Age'] <= 16, 'Age'] = 0
train_df.loc[(train_df['Age'] > 16) & (train_df['Age'] <= 36), 'Age'] = 1
train_df.loc[(train_df['Age'] > 36) & (train_df['Age'] <= 50), 'Age'] = 2
train_df.loc[(train_df['Age'] > 50) & (train_df['Age'] <= 64), 'Age'] = 3
train_df.loc[ train_df['Age'] > 64, 'Age'] = 4

test_df.loc[ test_df['Age'] <= 16, 'Age'] = 0
test_df.loc[(test_df['Age'] > 16) & (test_df['Age'] <= 36), 'Age'] = 1
test_df.loc[(test_df['Age'] > 36) & (test_df['Age'] <= 50), 'Age'] = 2
test_df.loc[(test_df['Age'] > 50) & (test_df['Age'] <= 64), 'Age'] = 3
test_df.loc[ test_df['Age'] > 64, 'Age'] = 4

In [16]:
train_df = train_df.drop('Name', axis = 1)
test_df = test_df.drop('Name', axis = 1)

In [17]:
Y_train = train_df['Survived']
X_train = train_df.drop(['Survived'], axis = 1)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(X_train, Y_train, test_size=0.8)

In [19]:
model = tf.keras.Sequential([layers.Dense(units=1, input_shape = [len(X_train.columns)], activation = 'relu')])

In [20]:
len(X_train.columns)

8

In [21]:
model.add(tf.keras.layers.Dense(128, activation= 'relu'))
model.add(tf.keras.layers.Dense(128, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation= 'linear'))

In [22]:
model.compile(optimizer = 'adam', loss = 'mean_absolute_error')
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1)                 9
_________________________________________________________________
dense_1 (Dense)              (None, 128)               256
_________________________________________________________________
dense_2 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 129
=================================================================
Total params: 16,906
Trainable params: 16,906
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.fit(x_train, y_train, batch_size=10, epochs=200)

Epoch 1/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4194
Epoch 2/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4168
Epoch 3/200
18/18 [==============================] - 0s 1ms/step - loss: 0.4184
Epoch 4/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4162
Epoch 5/200
18/18 [==============================] - 0s 1ms/step - loss: 0.4198
Epoch 6/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4164
Epoch 7/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4165
Epoch 8/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4158
Epoch 9/200
18/18 [==============================] - 0s 1ms/step - loss: 0.4153
Epoch 10/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4135
Epoch 11/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4162
Epoch 12/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4148
Epoch 13/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4147
Epoch 14/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4119
Epoch 15/200
18/18 [==============================] - 0s 1ms/step - loss: 0.4199
Epoch 16/200
18/18 [==============================] - 0s 1ms/step - loss: 0.4151
Epoch 17/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4169
Epoch 18/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4098
Epoch 19/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4196
Epoch 20/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4163
Epoch 21/200
18/18 [==============================] - 0s 1ms/step - loss: 0.4237
Epoch 22/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4134
Epoch 23/200
18/18 [==============================] - 0s 3ms/step - loss: 0.4080
Epoch 24/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4055
Epoch 25/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4117
Epoch 26/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4083
Epoch 27/200
18/18 [==============================] - 0s 1ms/step - loss: 0.4066
Epoch 28/200
18/18 [==============================] - 0s 2ms/step - loss: 0.4061
Epoch 29/200
18/18 [==============================] - 0s 1ms/step - loss: 0.4015
Epoch 30/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3969
Epoch 31/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3972
Epoch 32/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3893
Epoch 33/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3839
Epoch 34/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3851
Epoch 35/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3727
Epoch 36/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3708
Epoch 37/200
18/18 [==============================] - 0s 1ms/step - loss: 0.3671
Epoch 38/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3698
Epoch 39/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3630
Epoch 40/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3463
Epoch 41/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3485
Epoch 42/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3382
Epoch 43/200
18/18 [==============================] - 0s 1ms/step - loss: 0.3287
Epoch 44/200
18/18 [==============================] - 0s 1ms/step - loss: 0.3358
Epoch 45/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3406
Epoch 46/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3526
Epoch 47/200
18/18 [==============================] - 0s 1ms/step - loss: 0.3305
Epoch 48/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3266
Epoch 49/200
18/18 [==============================] - 0s 1ms/step - loss: 0.3216
Epoch 50/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3221
Epoch 51/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3212
Epoch 52/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3238
Epoch 53/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3214
Epoch 54/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3316
Epoch 55/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3134
Epoch 56/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3146
Epoch 57/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3137
Epoch 58/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3083
Epoch 59/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3029
Epoch 60/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3042
Epoch 61/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2972
Epoch 62/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2987
Epoch 63/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3040
Epoch 64/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3098
Epoch 65/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3068
Epoch 66/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2958
Epoch 67/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2912
Epoch 68/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2930
Epoch 69/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3018
Epoch 70/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2870
Epoch 71/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2960
Epoch 72/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2830
Epoch 73/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2783
Epoch 74/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2830
Epoch 75/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2845
Epoch 76/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2792
Epoch 77/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2876
Epoch 78/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2901
Epoch 79/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2778
Epoch 80/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2793
Epoch 81/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2755
Epoch 82/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2993
Epoch 83/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2805
Epoch 84/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2868
Epoch 85/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2806
Epoch 86/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2802
Epoch 87/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2760
Epoch 88/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2744
Epoch 89/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2853
Epoch 90/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2789
Epoch 91/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2719
Epoch 92/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2790
Epoch 93/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2739
Epoch 94/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2758
Epoch 95/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2878
Epoch 96/200
18/18 [==============================] - 0s 2ms/step - loss: 0.3013
Epoch 97/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2767
Epoch 98/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2747
Epoch 99/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2855
Epoch 100/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2807
Epoch 101/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2695
Epoch 102/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2646
Epoch 103/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2672
Epoch 104/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2707
Epoch 105/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2710
Epoch 106/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2746
Epoch 107/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2635
Epoch 108/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2665
Epoch 109/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2679
Epoch 110/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2680
Epoch 111/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2698
Epoch 112/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2674
Epoch 113/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2679
Epoch 114/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2595
Epoch 115/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2691
Epoch 116/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2613
Epoch 117/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2630
Epoch 118/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2692
Epoch 119/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2590
Epoch 120/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2568
Epoch 121/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2620
Epoch 122/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2618
Epoch 123/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2605
Epoch 124/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2589
Epoch 125/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2598
Epoch 126/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2555
Epoch 127/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2589
Epoch 128/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2605
Epoch 129/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2628
Epoch 130/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2643
Epoch 131/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2628
Epoch 132/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2602
Epoch 133/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2540
Epoch 134/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2560
Epoch 135/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2527
Epoch 136/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2502
Epoch 137/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2520
Epoch 138/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2529
Epoch 139/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2565
Epoch 140/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2538
Epoch 141/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2599
Epoch 142/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2547
Epoch 143/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2566
Epoch 144/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2596
Epoch 145/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2583
Epoch 146/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2519
Epoch 147/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2533
Epoch 148/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2487
Epoch 149/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2483
Epoch 150/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2471
Epoch 151/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2502
Epoch 152/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2588
Epoch 153/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2568
Epoch 154/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2490
Epoch 155/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2492
Epoch 156/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2545
Epoch 157/200
18/18 [==============================] - 0s 3ms/step - loss: 0.2517
Epoch 158/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2447
Epoch 159/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2465
Epoch 160/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2490
Epoch 161/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2535
Epoch 162/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2670
Epoch 163/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2604
Epoch 164/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2543
Epoch 165/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2510
Epoch 166/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2597
Epoch 167/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2543
Epoch 168/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2510
Epoch 169/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2539
Epoch 170/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2571
Epoch 171/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2500
Epoch 172/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2482
Epoch 173/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2457
Epoch 174/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2520
Epoch 175/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2478
Epoch 176/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2542
Epoch 177/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2542
Epoch 178/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2462
Epoch 179/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2480
Epoch 180/200
18/18 [==============================] - 0s 1ms/step - loss: 0.2462
Epoch 181/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2609
Epoch 182/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2614
Epoch 183/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2589
Epoch 184/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2577
Epoch 185/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2493
Epoch 186/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2476
Epoch 187/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2528
Epoch 188/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2468
Epoch 189/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2506
Epoch 190/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2532
Epoch 191/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2635
Epoch 192/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2425
Epoch 193/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2583
Epoch 194/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2557
Epoch 195/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2540
Epoch 196/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2569
Epoch 197/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2490
Epoch 198/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2497
Epoch 199/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2457
Epoch 200/200
18/18 [==============================] - 0s 2ms/step - loss: 0.2511

In [24]:
pp = model.predict(x_test)
MAE = mean_absolute_error(y_test, pp)
MAE

0.2592146932493587

In [25]:
pred = model.predict(test_df)
pred = pred.astype(int)
pred = pd.DataFrame(pred, columns=['Survived'])
pred.head()

   Survived
0         0
1         0
2         0
3         0
4         0

In [26]:
pred

     Survived
0           0
1           0
2           0
3           0
4           0
..        ...
413         0
414         0
415         0
416         0
417         0

[418 rows x 1 columns]

In [27]:
test1 = pd.read_csv("test.csv")
submission = pd.DataFrame(test1['PassengerId'])
submission

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [28]:
submission = pd.concat([submission, pred], axis = 1)
submission.set_index(['PassengerId'], inplace = True)
submission

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0
...               ...
1305                0
1306                0
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [29]:
submission.to_csv('Submit.csv')